<form>
    
    
    Code <input type="text" name="Code"  />
    <br/>
    Name  <input type="text" name="Name"  />
    <br />
    <input type="submit" value="Save" name="saveButton"  />
    

</form>